.container_dashboard{
		margin-bottom: 2rem;
	}
	.header_row{
		background-image: linear-gradient(to right, #ff5f6d , #ffc371);
		border-radius: 1.5rem;
		font-weight: bold;
		/*padding-top: 1rem;*/
		justify-content: center;
	}
	.tabs{
		padding-top: 1rem;
		padding-bottom: 1rem;
		text-align: center;
		word-wrap: break-word;
		justify-content: center;
	}
	.row_first{
		padding-top: 1rem;
	}
	.tab2{
		padding-top: 1.8rem;
	}
	.bg_tab{
		background-color: #f0f0f0;
		border-radius: 1.5rem;
		padding-top: 1rem;
	}
/*	@media(max-width: 767px ){
		.header_row{
			visibility: hidden;
		}
	}*/