* {
  font-family: "Raleway", sans-serif;
} 
body{
  background-color: #f0f0f0;
}
input
{
width: 100%;
}
.container_registration{
  /*background-color: #d9d9d9;*/
  padding-top: 2rem; 
  border-radius: 25px;
 margin-bottom: 1rem;
  /*box-shadow: 5px 4px 5px 4px grey;*/
}
.nav-tabs li{
  font-size: 20px;
  margin-left: 1rem;
  padding: 10px;
  border-radius: 25px;
  /*font-weight: bold;*/
}

label{
  color: #33b288;
}
.nav-tabs a{
  color: black;
  font-weight: unset;
}
}
.mycontainerfluid{
  padding-top: 1rem;
}
.mainform{
  border: 1px solid black;
}
.main-form{
  padding-top: 10px;
}
.tab-content{
	margin-bottom: 0px;
}
.content-section {
  background-color:#F8F9F9  ;
  padding: 5px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 25px;  
}
label, textarea, legend{
	color: #33b288;
}

.heading{
  background-image: linear-gradient(to right, #000000, #000000);
  padding: 1rem;
  margin-top: 0;
}
/* .active{
  background-color: yellow;
}*/

.buttons{
  text-align: center;
  align-items: center;
  margin-top: 3rem;
  padding: 1rem;
}
.btn_next{
  background-color: #33b288;
  border: 1px solid black;  
  color: black;
  margin-left: 1rem;
}
 .product-tabs{
  text-align: center;
 }
  .product-tabs button{
    /*background-color: yellow;*/
    /*padding-left: 1rem;*/
    margin-left: 1rem;
    border-radius: 25px;
    padding: 0.8rem;
    font-size: 18px;
  }
   .product-tabs button:hover{
    background-color: #d9d9d9;
   }
 .product-tabs button.active{
  background-color: #33b288;
  padding: 10px;
  color: white;
  text-shadow: 1px 1px black;
}
.btn_next:hover{
  color: white;
  background-color: #33b288;
}
.btn_next:active, .btn_next:focus{
  background-color: #33b288;

}
.form-group input,.form-group textarea{
   background-image: linear-gradient(to right, #FFFFFF , #FFFFFF);
}
.tab-control{
  display: flex;
  flex-direction: row;
}
@media (max-width: 767px){
  .buttons{
    margin-left: -2rem;
    margin-top: 2rem;
    text-align: center;
  }
}
