
	.container_terms{
		width: 90%;
		margin-left: 5%;
		background-color: #f0f0f0;
		border-radius: 25px;
		margin-bottom: 2rem;
		justify-content: center;
		text-align: center;
		padding: 2rem;
	}