    .input-group-prepend span{
        border-radius: 10px;
    border-top-right-radius: initial;
    border-bottom-right-radius: initial;
    }
    .input-group input{
            border-radius: 10px;
    border-top-left-radius: initial;
    border-bottom-left-radius: initial;
    }
    
    .modal-content{
        border-radius: 10px;
    }
    
    .modal-header{
    align-items: center;
    background-color: #33b288;
    border-radius: 10px;
    border-bottom-left-radius: initial;
    border-bottom-right-radius: initial;
    }
    
    #submit{
        background-color: #d9d9d9;
        border-radius: 10px;
        color: black;
        font-weight: bold;
    }
    #submit:hover{
        background-color: #33b288;
        color: white;
    }
    .modal-footer span:hover{
        color: white;
        background-color: #33b288;
    }