{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link type="text/css" rel="stylesheet" href="{% static 'css/style_navbar.css'%}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/style_modal.css'%}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/style_home.css'%}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/style_footer.css'%}" />
    <link
      type="text/css"
      data-typed-js-css="true"
      href="{% static 'css/style_home_2.css'%}"
    />
  </head>
  <style type="text/css">
    .typed-cursor .typed-cursor--blink {
      animation: typedjsBlink 0.7s infinite;
      -webkit-animation: typedjsBlink 0.7s infinite;
      animation: typedjsBlink 0.7s infinite;
    }

    @keyframes typedjsBlink {
      50% {
        opacity: 0;
      }
    }

    @-webkit-keyframes typedjsBlink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .typed-cursor {
      opacity: 1;
    }
  </style>
  <body>
    <navbar class="navbar navbar-expand-sm navbar-light bg-col">
      <div class="container contains">
        <a href="{% url 'home' %}" class="navbar-brand"><img src="{% static 'images/logo2.png' %}"/></a>
        <button
          class="navbar-toggler ml-auto"
          data-toggle="collapse"
          data-target="#ids"
        >
          <span class="navbar-toggler-icon my-toggler"></span>
        </button>
        <div class="collapse navbar-collapse" id="ids">
          <ul class="navbar-nav ml-auto ul">
            <li class="nav-item">
              <a href="{% url 'home'%}" class="nav-link">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" type="button" class="nav-link dropbtn">Categories</a>
              <div class="dropdown-content">
                <div class="row1 row">
                  <div class="col-sm-4">
                    <h3>Apparels</h3>
                    <a href="{% url 'menapparel' %}">Men</a>
                    <a href="#">Women</a>
                    <a href="#">Kids</a>
                  </div>
                  <div class="col-sm-4">
                    <h3>Electronics</h3>
                    <a href="#">Mobile</a>
                    <a href="#">Laptop</a>
                    <a href="#">Accessories</a>
                  </div>
                  <div class="col-sm-4">
                    <h3>Home</h3>
                    <a href="#">Kitchen</a>
                    <a href="#">Pets</a>
                    <a href="#">Household</a>
                  </div>
                  <div class="col-sm-4">
                    <h3>Automobiles</h3>
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a href="{% url 'partner'%}" class="nav-link">Partner</a>
            </li>
            <li class="nav-item signin">
              <button
                type="button"
                data-toggle="modal"
                data-target="#myModal"
                class="nav-link sign-in"
                >&nbsp;&nbsp;<span
                  ><i class="fa fa-sign-in">&nbsp;&nbsp;</i></span
                >Sign In&nbsp;&nbsp;</button>
            </li>
            <li>
              <a href="/logout" class="btn btn--radius-2 " type="submit" style="display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;    color: #fff;
    background-color: #525252;
    border-color: #525252;">Log Out</a>
            </li>
          </ul>
        </div>
      </div>
    </navbar>
    <div class="container">
      <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Login</h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <form>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-user"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Your Email"
                  />
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-lock"></i
                    ></span>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                  />
                </div>
                <a class="float-right" href="fp.html">Forgot Password?</a>
                <br /><br />
                <div class="input-group mb-3">
                  <div class="input-group-append"></div>
                  <button type="submit" class="form-control submit" id="submit">
                    Login
                  </button>
                </div>
              </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <p>
                New to *CompanyName*?
                <a
                  type="button"
                  href="signup.html"
                  class="btn btn-default"
                  ><span class="input-group-text"
                    ><i class="fas fa-user-plus"></i>&nbsp;Create Account</span
                  ></a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Home page content: LOGO and Search bar-->
    <div class="top_head"></div>
    <br />

    <div class="layout">
      <div class="container content">
        <div class="row">
          <div class="col-sm-10">
            <div class="logo">
              <h1>Store <span class="typed-words"></span></h1>
            </div>
            <div class="buttons">
              <button type="button" class="btn btn-default button2 check" ><span><i class="fas fa-check"></i></span>All</button>
              <button class="btn btn-default dropdown-toggle button2" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span><i class="fas fa-map-marker-alt">&nbsp;</i></span>
              Location
              </button>
                  <button class="btn btn-default dropdown-toggle button2" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span><i class="fas fa-industry">&nbsp;</i></span>
              Industry
              </button>
            </div>
            <form>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  name="search"
                  placeholder="What are you looking for?"
                />
                <button class="buttonS">Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="row">
        <div class="col-sm-2">
          <div style="background-color: white;">Logo</div>
          <br />
          <p><a href="{% url 'about' %}">About Us</a></p>
          <p><a href="#">Partners</a></p>
          <p><a href="#">Clientele</a></p>
          <p><a href="#">Testimonials</a></p>
        </div>
        <div class="col-sm-2">
          <p class="header">Browse Opportunities</p>
          <br />
          <p><a href="#">Competitions </a>| <a href="#"> Quizzes</a></p>
          <p>
            <a href="#">Hackathons </a>| <a href="#"> Jobs and Internships</a>
          </p>
          <p><a href="#">Scholarships </a>| <a href="#"> Workshops</a></p>
          <p><a href="#">Cultural Events</a></p>
        </div>

        <div class="col-sm-2">
          <p class="header">Categories</p>
          <p></p>
          <p><a href="#">Industries </a></p>
          <p><a href="#">Industries-1</a></p>
          <p><a href="#">Industries-2</a></p>
          <p><a href="#">Industries-3</a></p>
          <p><a href="#">Industries-4</a></p>
          <p><a href="#">Industries-5</a></p>
          <p><a href="#">Industries-6</a></p>
        </div>
        <div class="col-sm-2">
          <p class="header">Locations</p>
          <p><a href="#">Delhi </a></p>
          <p><a href="#">Mumbai</a></p>
          <p><a href="#">Kolkata</a></p>
          <p><a href="#">Pune</a></p>
          <p><a href="#">Bengaluru</a></p>
          <p><a href="#">Chennai</a></p>
          <p><a href="#">Ahemdabad</a></p>
        </div>
        <div class="col-sm-4">
          <p class="header">Connect with us</p>
          <p>
            <a href="#"
              ><i
                class="fab fa-instagram"
                style="font-size: 24px; color: white;"
              ></i
              >&nbspInstagram
            </a>
          </p>
          <p>
            <a href="#"
              ><i
                class="fab fa-facebook"
                style="font-size: 24px; color: white;"
              ></i
              >&nbspFacebook
            </a>
          </p>
          <p>
            <a href="#"
              ><i
                class="fab fa-whatsapp"
                style="font-size: 24px; color: white;"
              ></i
              >&nbspWhatsapp
            </a>
          </p>
          <p>
            <a href="#"
              ><i
                class="fab fa-linkedin"
                style="font-size: 24px; color: white;"
              ></i
              >&nbspLinkedIn</a
            >
          </p>
        </div>
      </div>
      <hr style="border-top: 1px solid white;" />
      <div class="conditions">
        <p>
          <a href="{% url 'terms' %}">Terms & Conditions </a>|
          <a href="#"> Privacy Policy </a>|
          <a href="#"> Branding Guidelines </a>|
          <a href="#"> Partner With Us </a>| <a href="#"> Contact Us </a>|
          <a href="#"> FAQs </a>|
          <a href="#"> Subscribe Newsletter</a>
          <a
            type="button"
            href="#"
            class="btn btn-primary"
            style="color: white;"
            >Publish Oppotunity</a
          >
        </p>
      </div>
      <hr style="border-top: 1px solid white;" />
      <br /><br />
    </div>

    <script type="text/javascript">
      function highlightCurrent() {
        const curPage = document.URL;
        const links = document.getElementsByClassName("nav-link");
        for (let link of links) {
          if (link.href == curPage) {
            link.classList.add("current");
          }
        }
      }
      document.onreadystatechange = () => {
        if (document.readyState === "complete") {
          highlightCurrent();
        }
      };
    </script>
    <script src="{% static 'js/js_home.js' %}"></script>
  </body>
</html>
