{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    /> 
    <!-- <script src="https://code.jquery.com/jquery-2.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway&display=swap"
      rel="stylesheet"
    />

    <link type="text/css" rel="stylesheet" href="{% static 'css/style_navbar.css'%}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/style_home.css'%}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/style_footer.css'%}" />
    <link type="text/css" data-typed-js-css="true" href="{% static 'css/style_home.css'%}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/style_modal.css'%}" />
  </head>
  <style type="text/css">
    .typed-cursor .typed-cursor--blink {
      animation: typedjsBlink 0.7s infinite;
      -webkit-animation: typedjsBlink 0.7s infinite;
      animation: typedjsBlink 0.7s infinite;
    }

    @keyframes typedjsBlink {
      50% {
        opacity: 0;
      }
    }

    @-webkit-keyframes typedjsBlink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .typed-cursor {
      opacity: 1;
    }
  </style>
  <body>
    <navbar class="navbar sticky-top navbar-expand-sm navbar-light bg-col">
      <div class="container contains">
        <a href="{% url 'home' %}" class="navbar-brand"
          ><img src="{% static 'images/logo2.png' %}"
        /></a>
        <button
          class="navbar-toggler ml-auto"
          data-toggle="collapse"
          data-target="#ids"
        >
          <span class="navbar-toggler-icon my-toggler"></span>
        </button>
        <div class="collapse navbar-collapse" id="ids">
          <ul class="navbar-nav ml-auto ul">
            <li class="nav-item">
              <a href="{% url 'home' %}" class="nav-link">Home</a>
            </li>

            <li class="nav-item">
              <div class="dropdown">
                <button style="color: black; font-weight: 600; cursor: pointer; font-size: 1.1rem; border: unset; background-color: unset; outline: none;" class="nav-link dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories
                </button>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <!-- <li class="dropdown-divider"></li> -->
                <li class="dropdown-submenu">
                  <a class="dropdown-item" tabindex="-1" href="#" style=" font-weight: 600">Location</a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item"><a tabindex="-1" href="#">Mumbai</a></li>
                    <li class="dropdown-item"><a href="#">Pune</a></li>
                    <li class="dropdown-item"><a href="#">Chennai</a></li>
                  </ul>
                </li>
                 <li class="dropdown-submenu">
                  <a  class="dropdown-item" tabindex="-1" href="#" style=" font-weight: 600">Industry</a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item"><a tabindex="-1" href="#">HealthCare</a></li>
                    <li class="dropdown-item"><a href="#">IT</a></li>
                    <li class="dropdown-item"><a href="#">Business</a></li>
                  </ul>
                </li>
                </ul>
               </div>
            </li>
                      <li class="nav-item">
                        <a href="partner.html" class="nav-link">Partner</a>
                      </li>
                      <li class="nav-item">
                        <a href="{% url 'partner' %}" class="nav-link">Post</a>
                      </li>

            <li class="nav-item">
              <div class="dropdown">
                <button class = "active" data-toggle="dropdown" style="border-color: white; background-color: white; border-width: 0px;">
              <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" width="50px" height="40px"  alt="avatar" style="border-radius: 50%; font-size: 10%;">
                </button>
               
                
                  <ul class="dropdown-menu"><link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
                    <li class="dropdown-item"><a href="#" style="color: black;">Name</a></li>
                    <li class="dropdown-item"><a href="#" style="color: black;">Email Address</a></li>
                    <li class="dropdown-item"><a href="#" style="color: black;">DashBoard</a></li>
                    <li class="dropdown-item"><a href="#" style="color: black;">HelpCenter</a></li>
                    <li class="dropdown-item"><a href="profilepage.html" style="color: black;">View and Edit Profile</a></li>
                    <li class="dropdown-item"><a href="cp.html" style="color: black;">Change Password</a></li>
                    <li class="dropdown-item"><a href="#" style="color: black;">Logout</a></li>
                    
                  </ul>
                </li>
                </ul>
               </div>
            </li>
                  
        </div>
      </div>
    </navbar>





         <div class="footer">
      <div class="row">
        <div class="col-sm-2">
            <div style="background-color:white">Logo</div>
            <br>
            <p><a href="aboutus.php">About Us</a></p><br>
            <p><a href="#">Partners</a></p><br>
            <p><a href="#">Clientele</a></p><br>
            <p><a href="#">Testimonials</a></p><br>
        </div>
        <div class="col-sm-2">
            <p class="header">Browse Opportunities</p>
            <br>
            <p><a href="#">Competitions </a>|
               <a href="#"> Quizzes</a></p><br>
            <p><a href="#">Hackathons </a>|
               <a href="#"> Jobs and Internships</a></p><br>
            <p><a href="#">Scholarships </a>|
               <a href="#"> Workshops</a></p><br>
            <p><a href="#">Cultural Events</a><br>
        </div>
        <div class="col-sm-2">
            <p class="header">Categories<p><br>
            <p><a href="#">Industries </a></p><br>
            <p><a href="#">Industries-1</a></p><br>
            <p><a href="#">Industries-2</a></p><br>
            <p><a href="#">Industries-3</a></p><br>
            <p><a href="#">Industries-4</a></p><br>
            <p><a href="#">Industries-5</a></p><br>
            <p><a href="#">Industries-6</a></p><br>
        </div>
        <div class="col-sm-2">
            <p class="header">Locations</p><br>
            <p><a href="#">Delhi </a></p><br>
            <p><a href="#">Mumbai</a></p><br>
            <p><a href="#">Kolkata</a></p><br>
            <p><a href="#">Pune</a></p><br>
            <p><a href="#">Bengaluru</a></p><br>
            <p><a href="#">Chennai</a></p><br>
            <p><a href="#">Ahemdabad</a></p>
        </div>
        <div class="col-sm-4">
            <p class="header">Connect with us</p><br>
            <p><a href="#"><i style='font-size:24px;color:white'></i>&nbspInstagram </a></p><br>
            <p><a href="#"><i style='font-size:24px;color:white'></i>&nbspFacebook </a></p><br>
            <p><a href="#"><i style='font-size:24px;color:white'></i>&nbspWhatsapp </a></p><br>
            <p><a href="#"><i style='font-size:24px;color:white'></i>&nbspLinkedIn</a></p><br>
        </div>
      </div>
<hr style="border-top: 1px solid white;"><br>
       <div class="conditions">
           <p><a href="terms.php">Terms & Conditions </a>|
              <a href="#"> Privacy Policy </a>|
              <a href="#"> Branding Guidelines </a>|
              <a href="#"> Partner With Us </a>|
              <a href="#"> Contact Us </a>|
              <a href="#"> FAQs </a>|
              <a href="#"> Subscribe Newsletter</a>
              <a type="button" href="#" class="btn btn-primary" style="color:white">Publish Opportunity</a><br><br>
           </p>
        </div> 
<hr style="border-top: 1px solid white;"><br><br>
</div> 
  <script type="text/javascript">
   function highlightCurrent() {
         const curPage = document.URL;
         const links = document.getElementsByClassName("nav-link");
         for (let link of links) {
           if (link.href == curPage) {
             link.classList.add("current");
           }
         }
       }
       document.onreadystatechange = () => {
         if (document.readyState === 'complete') {
           highlightCurrent()
         }
       };
  function openCity(evt, cityName) {
     $(window).scrollTop(0);
  var i, tabcontent, tablinks;

  tabcontent = document.getElementsByClassName("page-wrapper");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    // tablinks[i].style.backgroundColor="white";
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

    function next(evt, cityName, id) {
      $(window).scrollTop(0);
  var i, tabcontent, tablinks;

  tabcontent = document.getElementsByClassName("page-wrapper");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  document.getElementById(id).className += " active";
  }


    </script></div>
        <script src="{% static 'js/js_navbar.js'%}"></script>
        <script src="{% static 'js/js_partner.js'%}"></script>

</html>

