/*----FOOTER STYLED-----*/

    .conditions p a{
        color: grey;
        margin: 5px;
        font-family: 'Raleway', sans-serif;
    }
    .footer .row div p a{
        color: grey;
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
    }
    .footer .row div p{
        line-height: 15px;
        font-family: 'Raleway', sans-serif;
    }
    .footer .row div{
        padding: 15px;
    }
    .footer {
        padding: 20px;
        text-align: center;
        background: black;
        color: white;
        font-family: 'Raleway', sans-serif;
    }
