/* Navbar CSS	*/
.bg-col{
background-color: white;
    box-shadow: 8px 4px 8px 4px rgba(0,0,0,0.2);
}

.ul{
		text-align: center;
	}
.navbar-brand img{
    height: 30px;
    width: 100px;
/*    border: 1px solid black;*/
}
	.nav-link:link{
		margin-left: 20px;
		margin-right: 20px;
		color: #00ff7f !important;
        font-weight: 1000;
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
             
}
.nav-link:hover{
        color: #33b288 !important;
}
.current{
  background-color : #33b288 !important;
  border-radius: 25px;
  color: white !important;
}
.sign-in{
		background-color: #255b3f;
        color: #d1d598 !important;
		border-radius: 25px;
		font-weight: 1000;
/*        margin-right: 50px;*/
        font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding: 5px;
	}
.sign-in:hover{
    color: white !important;
}
ul .signin{
    padding: 3px;
}
/*NAVBAR CSS -close----*/
/*--drop down css--*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8049c;
  width: 360%;
  left: -140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.row1 div {
  float: left;
/*  width: 33.33%;*/
  padding: 10px;
  background-color: #fff;
/*  height: 250px;*/
  border-radius: 15px;
    border:4px solid #f8049c;
    
}

.row1 div a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.row1 div a:hover {
  background-color: #fdd54f;
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
.dropdown-content{
        left:0;
        width:100%;
    }
.row1 div {
    width: 100%;
    height:auto;
  }
}
/*---close---*/